html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}


.map {
    display: table-cell;
    width: 50%;
    height: 100%;
    position: relative;
}
.map:after {
    content: '';
    border: 2px dashed rgba(204,0,0,0.6);
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    pointer-events: none;
}

#other {
    border-left: 1px solid white;
}

.search-wrapper {
    right: 10px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 0;
    padding: 11px;
    text-overflow: ellipsis;
    width: 100%;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 35px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#info-icon {
    background: white;
    border-radius: 50%;
    padding: 4px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}
#info-icon:active {
    opacity: 0.9;
}

#info-text {
    display: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    padding: 10px 20px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

#ok {
    display: inline-block;
    padding: 5px 12px;
    background: #4d90fe;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 1px solid #437dda;
}
#ok:active {
    opacity: 0.9;
}

@media (orientation: portrait){
    .map {
        width: 100%;
        height: 50%;
        display: table;
    }
    #other {
        border-left: none;
        border-top: 1px solid white;
    }
}