html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}


.map {
    display: table-cell;
    width: 50%;
    height: 100%;
    position: relative;
}
.map:after {
    content: '';
    border: 2px dashed rgba(204,0,0,0.6);
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    pointer-events: none;
}

#other {
    border-left: 1px solid white;
}